.graph-div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;

  .graph {
    height: 15px;
    width: 100%;
    border-radius: 20px;
    background-color: grey;
    position: relative;
  }

  .graph-values {
    width: 90%;
    display: flex;
    justify-content: space-between;
  }
}
