.IsDeveloper-container {
  width: 60vw;
  color: white;
  position: relative;
}
#hi-text {
  margin-left: 20px;
}
#text {
  color: var(--red-font);
}
#name1 {
  position: absolute;
  font-size: 4.5rem;
  top: -175%;
  left: 0px;
  animation-name: leftToRight;
  animation-duration: 2s;
  /* transition: a; */
}

@keyframes leftToRight {
  from {
    left: -300px;
    color: transparent;
  }
  to {
    left: 0px;
    color: snow;
  }
}
