.back2home-div {
  color: rgb(69, 68, 68);
  display: flex;
  align-items: center;
  gap: 20px;
  transform: rotate(90deg);
  position: fixed;
  top: 50vh;
  right: -20px;
  transition: translateX 800ms;
  visibility: hidden;
}
.back2home-div.visible {
  visibility: visible;
}
