.footer-container {
  width: 100%;
  height: 25vh;
  margin-top: 20vh;
  background-color: black;

  display: flex;
  align-items: center;
  justify-content: space-around;
  color: var(--snow);
  position: relative;
  .logo {
    width: 20%;
    img {
      width: 100%;
    }
  }
}
.social-media {
  width: 30%;
  ul {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    .icon {
      font-size: 1.5rem;
      text-align: center;
    }
    a {
      width: 50%;
      li {
        display: flex;
        align-items: center;
        height: 100%;
        gap: 15px;
        margin-bottom: 10px;
        span {
          font-size: 0.8rem;
        }
      }
    }
  }
}
