.container-hero {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  overflow: hidden;
  /* border: 2px solid green; */

  color: var(--snow);
  display: flex;
  align-items: center;
  justify-content: space-between;

  .salutations {
    margin-left: 5%;
    h1 {
      font-family: Roboto;
      font-size: 4.5rem;
      font-weight: 800;
      color: var(--snow);
    }
    h3 {
      font-size: 1.8rem;
      letter-spacing: 5px;
      word-spacing: 10px;
      color: var(--snow);
    }
  }
  .image {
    height: 100%;
    position: relative;
    right: 0px;
    top: 0px;

    img {
      height: 100%;
    }
  }
}
