@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --bg-black: #0f0e0e;
  --violet: #522b47;
  --snow: #fbf5f3;
  --c-blue: #8daa9d;
  --red-font: #e54b4b;
  --dark-text: #545353;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
a {
  list-style: none;
  text-decoration: none;
  color: var(--snow);
  cursor: pointer;
}
.solid-button {
  background-color: var(--red-font);
  font-size: 1rem;
  font-weight: 500;
  color: var(--snow);
  padding: 15px 25px;
  border-radius: 10px;
  border: none;
}
.solid-button:hover {
  background-color: transparent;
  border: 2px solid var(--red-font);
  color: black;
  cursor: pointer;
}

body {
  color: var(--dark-text);
  font-family: "Poppins", serif;
  font-weight: 400;
  width: 100vw;
}
.main-container {
  /* width: 100vw; */
  .container-landing {
    /* background-color: var(--bg-black); */
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    overflow: hidden;

    .hero {
      height: 100vh;
    }
  }
}
